$dark-orange: #ef5a22;
$orange:      #ec8d6e;

$aqua:        #6cced1;
$sea-blue:    #0e6b8e;

$tan:         #f5f2eb;
$tanner:      #ebe8e0;

$coffee:      rgba(162, 160, 148, 1);
$lite-coffee: rgba(162, 160, 148, 0.5);
