#nav {

  .nav-bar {
    @include row;

    text-decoration: none;
    font-size: 2em;
    margin: 0;
    padding: 0;
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .nav-item {
    @include span-columns(3);
    @include omega(4n);
    text-align: center;
    display: block;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    border-right: 1px solid $tan;
    &:last-child {
      border: none;
    }
  }
  a { color: $tanner; }

}
