#nav {

  .nav-bar {
    @include row;

    text-decoration: none;
    font-size: 1.2em;
    padding: 0;
    background: rgba(255,255,255,0.9);
    box-shadow: 1px 0px 3px 1px $lite-coffee;
    position: fixed;
    top: 0px;
    margin: 0;
    width: 100%;
    z-index: 100;
  }

  .nav-item {
    @include span-columns(3);
    @include omega(4n);
    text-align: center;
    display: block;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    &:last-child {
      border: none;
    }
  }
  a { color: $coffee; }

}
