// All races
.rush-container {
  @include clearfix;
  @include span-columns(12);
  margin-bottom: 0.5em;
}

.rush-wrapper {
  margin-bottom: 1.5em;
}

.rush-entry {
  background: white;
  @include row;
}

.rush-entry:hover + .rush-standings {
  display: block;
}

@-webkit-keyframes {

}

.rank-wrapper {
  @include span-columns(4);
  background: $orange;
  &.third {
    background: $aqua;
  }
  .rank {
    background: white;
    width: 5em;
    margin: 0.5em auto 0em;
    height: 5em;
    border-radius: 75px;
    h1 { // DW_TODO - move to different SMACSS file
      margin: 0;
      padding: 0;
      font-family: $condensed;
      text-align: center;
      padding-top: 0.5em;
      color: $sea-blue;
    }
  }
  .completed {
    background: $sea-blue;
    margin-top: 0.5em;
    padding: 0.25em 0;
  }
}

.details-wrapper {
  @include span-columns(8);

  .title {
    padding-top: 1em;
  }

  .news {
    border-top: 1px solid $lite-coffee;
    border-bottom: 1px solid $lite-coffee;
    margin: 0.5em 0 0 0;
    padding: 0.25em 0 0.5em;
  }

  .links-wrapper {
    @include row;
  }
}

.action-item {
  @include span-columns(6);
  padding-top: 1em;
  padding-bottom: 0.5em;

  &.update-area   { text-align: right; }
  &.standing-area { text-align: left; }

  .big-link a{ // TODO - move links into their own file.
    text-decoration: none;
    display: block;

    &:hover,
    &:active {
    text-decoration: underline;
    }
  }
}


.rush-standings {
  padding: 0.25em 0.5em 0.25em;
  background: white;
  display: none;

  .user {
    border-bottom: 1px solid $lite-coffee;
    padding: 0.25em 0.25em 0.5em;
    margin: 0.25em 0;
    @include clearfix;
    .rank {
      @include span-columns(1);
    }
    .name {
     text-transform: capitalize;
     @include span-columns(3);
    }
    .status {
     @include span-columns(7);
     text-align: right;
    }
    .total {
     @include span-columns(1);
     text-align: right;
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: white;
    }
  }
}
