.rush-entry {
  border: 1px solid $lite-coffee;
  @include clearfix;
  @include span-columns(6);
  @include shift(3);
}

.rush-container {
  background: white;
  @include row;
}

.rush-rank-section {
  @include span-columns(3);
  border-top: 12px solid $sea-blue;
  background: $orange;
  height: 7em;
  .rank {
    background: white;
    width: 5em;
    margin: 0.5em auto 0em;
    height: 5em;
    border-radius: 75px;
    h1 { // DW_TODO - move to different SMACSS file
      margin: 0;
      padding: 0;
      font-family: $condensed;
      text-align: center;
      padding-top: 0.5em;
      color: $sea-blue;
    }
  }
}

.rush-details {
  @include span-columns(9);
}

.standings-and-engagement {
  @include row;
}

.current-accomplished,
.standing-area,
.update-area {
  @include span-columns(4);
}

.latest-news {
  border-top: 1px solid $lite-coffee;
  border-bottom: 1px solid $lite-coffee;
  margin: 0.5em 0 0 0;
  padding: 0.25em 0 0.5em;
}

.standings {
  padding: 1em;

  .user {
    border-bottom: 1px solid $lite-coffee;
    padding: 0.5em;
    margin: 0.5em;
    @include clearfix;
    .rank {
      @include span-columns(1);
    }
    .name {
     text-transform: capitalize;
     @include span-columns(4);
    }
    .status {
     @include span-columns(5);
     text-align: right;
    }
    .total {
     @include span-columns(2);
     text-align: right;
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: white;
    }
  }
}
