// All races

#rush-container {
  margin-top: 2em;
}

.rush-wrapper {
  margin-bottom: 0.5em;
}

.rush-entry {
  @extend .primary-background
}

.rush-faint { // todo - move to proper state smacss
  opacity: 0.5
}


.rank-wrapper {
  @include span-columns(3);
  background: $orange;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  &.third {
    background: $aqua;
  }
  .rank {
    background: white;
    width: 3em;
    height: 3em;
    margin: 0.5em auto 0em;
    border-radius: 75px;
    h1 { // DW_TODO - move to different SMACSS file
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      font-family: $condensed;
      text-align: center;
      padding-top: 0.2em;
      color: $sea-blue;
    }
  }
  .completed {
    background: $sea-blue;
    margin-top: 0.5em;
    padding: 0.25em 0;
    border-bottom-left-radius: 0.2em;
  }
}

.details-wrapper {
  @include span-columns(9);
  padding-right: 0.5em;

  .title {
    padding: 0.5em 0;
    border-bottom: 1px solid $tanner;
  }

  .news {
    border-top: 1px solid $lite-coffee;
    border-bottom: 1px solid $lite-coffee;
    margin: 0.5em 0 0 0;
    padding: 0.25em 0 0.5em;
  }

  .links-wrapper {
    @include row;
  }
}

.action-item {
  @include span-columns(6);
  padding-top: 0.4em;
  padding-bottom: 0.5em;

  &.update-area   { text-align: right; }
  &.standing-area { text-align: left; }

  .big-link a{ // TODO - move links into their own file.
    text-decoration: none;
    display: block;

    &:hover,
    &:active {
    text-decoration: underline;
    }
  }
}


.rush-standings {
  padding: 0.25em 0.5em 0.25em;
  background: $tanner;
  display: none;
  position: relative;
  border-radius: 3px;

  .user {
    border-bottom: 1px solid $lite-coffee;
    padding: 0.25em 0.25em 0.5em;
    margin: 0.25em 0;
    @include clearfix;
    .rank {
      @include span-columns(0.5);
    }
    .name {
     text-transform: capitalize;
     @include span-columns(1);
    }
    .status {
     @include span-columns(7.5);
     text-align: right;
    }
    .total {
     @include span-columns(3);
     text-align: right;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.rush-update {
  @include row;
  background: $tanner;
  display: none;
  padding: 0.25em 0.5em 0.25em;

  border-radius: 3px;
  input[type="number"] { // Todo - move into input module
    @include span-columns(6);
  }
  input[type="submit"] { // Todo - move into input module
    @include span-columns(6);
  }
}
