// Site resets
body {
  font-size: 100%; -webkit-font-smoothing: antialiased !important;
  margin: 0;
  padding: 0;
}


// Google fonts
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic|Oswald:400,300);


// Variables
$condensed:  'Oswald', sans-serif;
$sans: 'Lato', sans-serif;


// Mixins

@mixin common { @include reset-margin-padding; }

@mixin headline {
  @include common;
  font-family: $sans;
  font-weight: 700;
  color: $sea-blue;
  font-size: 2em;
}

@mixin news-line {
  @include common;
  font-family: $condensed;
  font-weight: 300;
  color: $coffee;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

@mixin tagline {
  @include common;
  font-family: $sans;
  font-weight: 700;
  color: $aqua;
  font-size: 2em;
  text-transform: capitalize;
}

@mixin copy {
  @include common;
  font-family: $condensed;
  font-weight:300;
  color: $coffee;
  font-size: 1.1em;
}

@mixin current-status {
  @include common;
  font-family: $condensed;
  font-weight: 300;
  color: $sea-blue;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  text-transform: lowercase;
}

@mixin big-link {
  @include common;
  font-family: $sans;
  font-weight:400;
  color: $aqua;
  font-size: 1.1em;
  text-decoration: none;
}

@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}


// Classes
.headline       { @include headline; }
.news-line      { @include news-line; }
.current-status { @include current-status; }
.tagline        { @include tagline; }
.copy           { @include copy; }
.big-link       { @include big-link; }
