<!DOCTYPE html>
<html>
<head>
  <title>Race</title>
  <%= stylesheet_link_tag    "race/application", media: "all" %>
  <%= javascript_include_tag "race/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
