body {
  background: #333333;
  font-family: 'lucida grande';
  margin-top: 3em; }

h1, h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0; }

.l-container {
  margin: 0 auto; }

.wrapper {
  margin: 0 auto;
  max-width: 560px;
  background: #e6e6e6;
  padding: 0.5em;
  color: #333333; }


.race {
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #aaa;
  cursor: pointer; }
  .race:hover {
    background: #aaa; }

.race-place {
  float: right;
  margin-right: 2em; }

.update-btn {
  float: right;
  color: #0080ff; }
